@media (min-width: 280px) and (max-width: 576px) {

  .mob-view {
    display: block;
  }

  .desktop-view {
    display: none;
  }


  /* NAVBAR CLASSES */

  .nav-brand {
    font-family: 'IBM Plex Mono', monospace;
    line-height: 130%;
    padding: 0;
    font-size: 16px;
    color: #7e7e7e;
  }

  .nav-links {
    font-family: 'IBM Plex Mono', monospace;
    line-height: 130%;
    padding: 0;
    font-size: 16px;
    color: #7e7e7e;
  }

  .nav-links:hover {
    color: #ffffff;
  }

  .navigation-bar {
    font-family: 'IBM Plex Mono', monospace;
    line-height: 130%;
    background-color: #16171D;
    font-size: 16px;
    height: 80px;
    padding: 27px 15px 0 15px;
    margin: 0 0 60px 0;
  }

  .navigation-bar-light {
    background-color: #F6F6F6;
    font-size: 16px;
    height: 80px;
    padding: 27px 15px 0 15px;
    margin: 0 0 60px 0;
  }

  /* _____________________ */

  /* DEFAULT CLASSES */

  body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.04rem;
    line-height: 160%;
    cursor: url("cursor.svg"), default;
  }

  h1 {
    font-size: 36px;
    font-family: 'IBM Plex Mono', monospace;
    line-height: 130%;
    margin-bottom: 30px
  }

  a {
    text-decoration: none;
  }

  /* _____________________ */

  /* GENERAL (COMMON) CLASSES */

  .container {
    width: 100%;
    padding: 0 15px 0 15px;
    background-image: url("gridMob.svg");
    background-size: cover;
    background-position: center;
    margin-bottom: 0px;
  }

  .project-description {
    margin-bottom: 50px;
    letter-spacing: 0.04rem;
    line-height: 160%;
    font-size: 16px;
    padding: 0;
  }

  .project-image {
    width: 100%;
    margin-bottom: 50px;
  }

  .img-with-margin {
    margin-bottom: 60px;
    width: 100%;
  }

  .img-no-margin {
    margin-bottom: 20px;
    width: 100%;
  }

  .project-block {
    margin-bottom: 60px;
  }

  .project-block-heading {
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 0.02em;
    line-height: 130%;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 16px;
  }

  .project-block-text {
    margin-bottom: 40px;
  }

  .heading-strip {
    height: 110px;
    background-color: #16171D;
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 0.02em;
    font-size: 28px;
    line-height: 130%;
    padding-top: 37px;
    margin-bottom: 60px;
    padding-left: 15px;
  }

  .list-item {
    margin-bottom: 20px;
  }


  /* _____________________ */

  /* FOOTER CLASSES */

  .closing-line {
    border: 1px solid #7e7e7e;
    color: #7e7e7e;
    height: 0;
    margin: 0 0 60px 0;
  }

  .footer-text {
    text-align: center;
    /* padding: 0 20px 0 20px; */
    font-size: 20px;
    line-height: 160%;
    margin-bottom: 40px;
  }

  .footer-block {
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 16px;
  }

  .email-id-block {
    background-color: #16171D;
    height: 55px;
    /* margin-left: 15px; */
    padding: 0;
    /* padding-right: 0; */
    border-radius: 0 0 3px 3px;
    font-size: 16px;
  }

  .email-id {
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 14px 0 15px 0;
    font-size: 16px;
  }

  .copy-button {
    background-color: #333542;
    height: 55px;
    /* margin-right: 15px; */
    padding: 0;
    /* padding-left: 0; */
    border-radius: 3px;
    font-size: 16px;
  }

  .copy-id {
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 14px 0 15px 0;
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 0.02rem;
    font-size: 16px;
  }

  .social-logos {
    margin-bottom: 60px;
  }

  /* _____________________ */

  /* HOME CLASSES */

  .introduction {
    background-color: #f6f6f6;
    padding: 50px 15px 50px 15px;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 60px;
  }

  .project-type-home {
    color: #656564;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    letter-spacing: 0.15em;
    margin-bottom: 20px;
  }

  .project-name-home {
    font-family: 'IBM Plex Mono', monospace;;
    font-size: 24px;
    line-height: 160%;
    color: #000000;
    margin-bottom: 25px;
    letter-spacing: 0.02em;
  }

  .project-description-home {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 25px;
    letter-spacing: 0.04rem;
    color: #000000;
  }

  .project-button {
    height: 55x;
    padding: 12px 30px 12px 30px;
    border-radius: 100px;
    border: 1.5px solid #000000;
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 0.02em;
    line-height: 130%;
    font-weight: 500;
    background-color: transparent;
    margin-bottom: 35px;
  }

  .project-img-home {
    width: 100%;
  }

  .closing-line-home {
    border: 1px solid #c4c4c4;
    color: #c4c4c4;
    height: 0;
    margin: 0 0 50px 0;
  }

  /* _____________________ */

  /* CALENDAR CLASSES */

  .calendar-img {
    margin-bottom: 20px;
    width: 100%;
  }

  /* _____________________ */

  /* COOKING CLASSES */



  .carousel {
    padding: 30px 0 30px 0;
    overflow: auto;
    white-space: nowrap;
    background-color: #f6f6f6;
    margin-bottom: 60px;
    padding-left: 15px;
    margin-top: 0px;
  }

  .carousel-slide {
    width: 80%;
    margin-right: 20px;
    box-shadow: 0px 0px 84px 17px rgba(232,232,232,1);
  }

  .solution-strip {
    /* padding-left: 15px;
    padding-right: 15px; */
  }

  .solution-strip-row {
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: #f6f6f6;
  }

  .solution-strip-heading {
    font-size: 20px;
    font-weight: 500;
  }

  .solution-strip-text {
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.04rem;
  }


  /* _____________________ */

  /* LOGO CLASSES */

  .logo-block{
    margin-bottom: 15px;
    border-radius: 4px;
  }

  .logo-description {
    font-size: 14px;
    margin-bottom: 35px;
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 0.02rem;
    line-height: 160%;
  }

  .logo-day {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 0.04rem;
    color: #737373;
  }



}
