body {
  font-family: 'IBM Plex Mono', monospace;
  font-style: monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.03rem
  cursor: url("cursor.svg"), default;
}

.container {
  padding: 0;
  width: 58vw;
  margin: 0 auto 0 auto;
  background-image: url("grid.svg");
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 3.4375rem;
  line-height: 130%;
  font-weight: 400;
  margin-bottom: 30px;
  /* cursor: url("cursorLine.svg"), default; */
}

.project-block {
  margin-bottom: 70px;
}

.project-description {
  margin-bottom: 0px;
  /* font-size: 18px; */
  line-height: 160%;
  margin-bottom: 40px;
}

.navbar {
  padding: 10px 0 0 0;
  /* border-bottom: 2px solid black; */
  /* margin-bottom: 55px;
  background-color: #F9F8F4; */
  margin-bottom: 70px;
  background-color: none;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.nav-item {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 5px;
  margin-left: 90px;
}

.img-with-margin {
  max-width: 100%;
  margin-bottom: 70px;
}

.logo-block {
  background-color: #16171D;
  border-radius: 7px;
  text-align: center;
  margin-bottom: 25px;
}

/* .logo-block :hover {
  background-color: #121217;
  border-radius: 7px;
} */

.logo {
  max-width: 100%;
  height: auto;
}

.logo-description {
  font-size: 1rem;
  line-height: 145%;
  margin-bottom: 60px;
}

.logo-day {
  color: #737373;
}


/* MOBILE */
